<!-- begin email hero -->
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
  <td class="alert alert-warning" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; color: <%= @opts[:hero_fg] %>; font-weight: 500; text-align: center; border-radius: 3px 3px 0 0; background-color: <%= @opts[:hero_bg] %>; margin: 0; padding: 20px;" align="center" bgcolor="<%= @opts[:hero_bg] %>" valign="top">
    <h3><%= @data[:hero_title] %></h3>
    <span style="color: <%= @opts[:hero_fg] %> !important; text-decoration: none !important">
      <%= @data[:hero_body] %>
    </span>
  </td>
</tr>
<!-- end email hero -->
